body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#about{
    background-color: rgba(33, 149, 184, 0.034);
}
.navbar {
    background-color: #333;
    color: #ccc;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #ccc;
}

.nav-link:hover {
    color: #ccc;
}

.about {
    background-color: #11c2ee00;
    padding: 20px;
}

.projects {
    background-color: #fff;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 15px;
    color: #666;
}

.contact {
    background-color: #f7f7f7;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-text {
    font-size: 12px;
    color: #666;
}